<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all-ones.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4209422616405644006E5A26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4220F2DE15CD8927005750F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4244196F15859482009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42441989158595BB009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>424419A5158596AE009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>424419B7158596B6009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>424419CB15859767009863BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>424E4D5616BC274700716FFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426064DC16E67AA100C5B117</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>426EA90C1686110A00027A6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F351635CD6F008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F47163737C3008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F5616381B7A008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F651638224D008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F6F163823AF008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F8716395FEB008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42720F9F163BF3EC008C8E63</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4281FEF116C4908F0066610C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42841CAB15B1947A00AB18BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42A313C1159371F4005C2006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42AB8C20168E092400B804EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42BF1F47165BE90F0075D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42BF1F58165D06220075D664</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42CF8F70176349B4006CE2B1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DA10EF1663D09500F8AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DA11031663DB6300F8AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DA11141665265900F8AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DA114D1666706400F8AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DA11631666759600F8AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42DA119D1667BD2A00F8AFEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F4EE5B16AEE80D000123A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42F5605F1615DDA600C8C782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
